[submodule "submodules/jx-mujoco-python-viewer"]
	path = submodules/jx-mujoco-python-viewer
	url = git@github.com:jaku-jaku/jx-mujoco-python-viewer.git
[submodule "submodules/jx-mujoco-python-engine"]
	path = submodules/jx-mujoco-python-engine
	url = git@github.com:jaku-jaku/jx-mujoco-python-engine.git
