<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="common_properties">
    
    <xacro:property name="wheel_center_dist_y" value="0.18738" />
    <xacro:property name="wheel_diameter" value="0.120594" />
    

    <gazebo>
        <plugin name="gazebo_ros_control" 
                filename="libgazebo_ros_control.so">
          <robotNamespace>/fetch</robotNamespace>
          <robotParam>/fetch_robot_description</robotParam>
          <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>
    
</robot>
